<TMPL_INCLUDE NAME="header.tmpl">
<h1>CHATLOBBIES<TMPL_IF NAME=CNTCHATS> [<TMPL_VAR NAME=CNTCHATS>]</TMPL_IF></h1>
<TMPL_IF NAME=CNTCHATS>
<div id="docfunc">
</div>
<table id="chatlobbyTable" class="tablesorter">
<thead>
<tr class="resdochead">
<th id="resdocheadname">NAME <img src="<TMPL_VAR NAME=SORTICONLINK>"/></th>
<th>PEERS <img src="<TMPL_VAR NAME=SORTICONLINK>"/></th>
<!-- <th>TOPIC <img src="<TMPL_VAR NAME=SORTICONLINK>"/></th> -->
<th>STATE <img src="<TMPL_VAR NAME=SORTICONLINK>"/></th>
<th>ACTION <img src='<TMPL_VAR NAME=SORTICONLINK>'/></th>
</tr>
</thead>
<tbody>
<TMPL_LOOP NAME=CHATLOBBIES>
<tr id='<TMPL_VAR NAME=CHATLOBBYID>' class="resdoc">
 <td id="resdocname"><TMPL_VAR NAME=CHATLOBBYNAME></td>
 <td><TMPL_VAR NAME=CHATLOBBYNOPEERS></td>
 <td><TMPL_VAR NAME=CHATLOBBYSTATE></td>
 <!-- <td><TMPL_VAR NAME=CHATLOBBYTOPIC></td> -->
 <td><form method="get">
      <TMPL_IF EXPR="CHATLOBBYSTATE > 1"><input class="joinbutton" value="" type="button" alt="Join" title="Join" onClick="joinChatlobby('<TMPL_VAR NAME=CHATLOBBYID>');" /></TMPL_IF>
      <TMPL_IF EXPR="CHATLOBBYSTATE < 3"><input class="leavebutton" value="" type="button" alt="Leave" title="Leave" onClick="leaveChatlobby('<TMPL_VAR NAME=CHATLOBBYID>');" /></TMPL_IF>
      </form>
 </td>
</tr>
</TMPL_LOOP>
</tbody>
</table>
<TMPL_ELSE>
</TMPL_IF>
<TMPL_INCLUDE NAME="footer.tmpl">