<TMPL_INCLUDE NAME="header.tmpl">
<h1>UPLOAD<TMPL_IF NAME=ROWS> [<TMPL_VAR NAME=ROWS>]</TMPL_IF></h1>
<TMPL_IF NAME=ROWS>
<table id="shareTable" class="tablesorter">
<thead> 
<tr class='sharedochead'><th id='sharedocheadname'>NAME <img src='<TMPL_VAR NAME=SORTICONLINK>'/></th><th>RATE <img src='<TMPL_VAR NAME=SORTICONLINK>'/></th><th>SIZE <img src='<TMPL_VAR NAME=SORTICONLINK>'/></th></tr>
</thead>
<tbody>
<TMPL_LOOP NAME=RESULTS>
  <tr id='<TMPL_VAR NAME=RESHASH>' class='sharedoc' >
      <td id='sharedocname'><TMPL_VAR NAME=RESNAME></td>
      <td><TMPL_VAR NAME=RESRATE></td>
      <td><TMPL_VAR NAME=RESFORMATSIZE></td>
  </tr>
</TMPL_LOOP>
</tbody>
</table>
<TMPL_ELSE>
</TMPL_IF>
<TMPL_INCLUDE NAME="footer.tmpl">